<div class="bd-example">
  <div class="custom-file">
    <input type="file" class="custom-file-input" id="customFile" (change)="onChange($event)" multiple >
    <label class="custom-file-label" id="customFileLabel" for="customFile">Selecionar arquivo</label>
  </div>
  <div class="progress">
    <div class="progress-bar" role="progressbar" [style.width]="progress + '%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
      {{ progress }}%
    </div>
  </div>
  <div class="custom-file" style="margin-top: 10px;" >
    <button type="button" class="btn btn-primary" (click)="onUpload()" [disabled]="!files" >Upload</button>
  </div>
</div>

<div style="margin-top: 10px">
  <button type="button" class="btn btn-primary" (click)="onDownloadExcel()">
    Download Excel
  </button>
  <button type="button" class="btn btn-primary" (click)="onDownloadPDF()">
    Download PDF
  </button>
</div>
