<nav *ngIf="mostrarMenu">
  <div class="nav-wrapper">
    <a routerLink="" class="brand-logo right">Crud Simples - Logo</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li routerLinkActive=""><a routerLink="">Home</a></li>
      <li routerLinkActive="active"><a routerLink="/login">Login</a></li>
      <li routerLinkActive="active"><a routerLink="/cursos" [queryParams]="{pagina:1}">Cursos</a></li>
      <!-- <li routerLinkActive="active"><a [routerLink]="['/curso', idCurso]">Curso com Id</a></li> -->
      <li routerLinkActive="active"><a routerLink="/alunos">Alunos</a> </li>
      <li routerLinkActive="active"><a routerLink="/customers">Clientes</a> </li>
    </ul>
  </div>
</nav>


